body {
  font-family: 'Fauna One', serif;
  font-size: 13px;
  color: black;
  /*background-color: whitesmoke;*/
  line-height: 1.5;
}

h1 {
  font-family: 'Unica One', cursive;
  font-size: 36px;
  color: #c31;
  margin: 0;
  padding: 0;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
}

.images-and-buttons {
  display: flex;
  flex-direction: column;
  /*align-content: : center;
  justify-content: center;*/
}

.all-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 15px;
  /*max-height: 250px;*/
  border-style: solid;
  border-width: thin;
  border-color: black;
  /*width: auto;*/
  width: 250px;
  height: 250px;
}

img {
  max-height: 250px;
  max-width: 250px;
  width: auto;
  height: auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.more-trials-button {
  visibility: hidden;
  margin: 10px;
}

.result-button {
  visibility: hidden;
  margin: 10px;
}

.result-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

button:hover {
  color: #333;
  border-color: #888;
  outline: 0; }

button.button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }

button.button-primary:hover {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }
