.all-image-container {
  display: flex;
  flex-direction: row;
}

.image-container {
  padding: 0;
  margin: 20px;
  /*max-height: 250px;*/
  border-style: solid;
  border-width: thin;
  border-color: black;
  max-height: 250px;
  /*width: auto;*/
}

img {
  max-height: 250px;
  width: auto;
}

.more-trials-button {
  visibility: hidden;
}
